<%= content_for(:navigation) do %>
  <% if current_user %>
    <p>Logged in as <%= current_user.name %>.</p>
    <p><%= link_to "Log the F*^$ out!", session_path("current"), method: "delete" %></p>
  <% else %>
  <p><%= link_to "Login", new_session_path %> | <%= link_to "Sign Up", new_user_path %></p>
  <% end %>
<% end %>

<% content_for(:header) do %>
  <div class="header">
    <h1>FARM FOTOGRAPHY</h1>
  </div>
<% end %>

<div class="row">


</div>
