<%= content_for(:navigation) do %>
  <% if current_user %>
    <p>Logged in as <%= current_user.name %>.</p>
    <p><%= link_to "Log the F*^$ out!", logout_path %></p>
  <% else %>
  <p><%= link_to "Login", login_path %> | <%= link_to "Sign Up", signup_path %></p>
  <% end %>
<% end %>

<% content_for(:header) do %>
  <div class="header">
    <h1>FARM FOTOGRAPHY</h1>
  </div>
<% end %>

<div class="row">
<ul>
<% User.all.each do |user| %>
  <li>
    <%= link_to "#{user.name}", user_path(user) %>
  </li>
<% end %>
</ul>
</div>
