<%= content_for(:navigation) do %>
  <% if current_user %>
    <p>Logged in as <%= current_user.name %>.</p>
    <p><%= link_to "Log the F*^$ out!", logout_path %></p>
    <p><%= link_to "Main Page", "/" %></p>
  <% else %>
  <p><%= link_to "Login", login_path %></p>
  <p><%= link_to "Main Page", "/" %></p>
  <% end %>
<% end %>

<% content_for(:header) do %>
  <div class="header">
    <h1>Awesome Posts</h1>
  </div>
<% end %>
<div class="row">
  <ul>
    <% @user.posts.each do |post| %>
      <li><p><%= link_to "#{post.title}", user_post_path(@user, post) %>: <%= post.content %></p>
          <p><%= image_tag post.photo.url %></p>
      </li>
    <% end %>
  </ul>
</div>
<div class="row">
  <div class="col-sm-3">
  <%= link_to "New post", new_user_post_path(@user) %>
  </div>
  <div class="col-sm-9">
  </div>
</div>
